.my-image{
    width: 100%;
    text-align: center;

}
.my-spacer {
    height: 140px;
}
.my-spacer-half {
    height: 70px;
}
.my-spacer-180 {
    height: 150px;
}
.githubIcon{
    mask:url(images/github.svg);
    -webkit-mask:url(images/github.svg);
  }
  .linkedinIcon{
    mask:url(images/linkedin.svg);
    -webkit-mask:url(images/linkedin.svg);
  }
  .icons{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: rgb(0, 0, 0);
    mask-size: cover;
   
  }